/* 公告中使用的 kbd 样式 */
.widget.text .content kbd {
  cursor: default;
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  vertical-align: 0.05rem;
  border: 1px solid #d1d5da;
  border-radius: 6px;
}

/* Valine 评论区美化 
#veditor {
    background-image: url(https://cdn.jsdelivr.net/gh/drew233/cdn/20200409110727.webp);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 95% 30%;
    background-color: rgba(255, 255, 255, 0);
    resize: vertical
}
#veditor:focus {
    background-position-y: 400px;
    transition: all .2s ease-in-out 0s;
}
*/

/* 底栏美化 高度调整 去除下划线 */
footer.footer {
    padding: 10px 10px 100px 10px;
    overflow: hidden;
}

/* 标题文字美化 */
article.md h2, article.md>h1 {
    font-weight: 900;
}

.md h3, .md h4, .md h5, .md h6 {
    font-weight: 600;
    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat;
    display: initial;
}

.md h1:before, .md h2:before {
    margin-top: -60px;
}
